.footer {
    position: absolute;
    left: 0; 
    bottom: 0;
    width: 100%;
    background-color: #1848A0;
    color: #E3F2FD;
    text-align: center;
  }
.container{
    margin-top: 1rem;
    margin-bottom: 1rem
}
