.btn {
    position: inherit;
    margin-bottom: 10px;
    /* width: 100px; */
    height: 37px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #1565C0;
    font-size: 20px;
    background: #BBDEFB;
    color: #F4511E;
    background-color: #E3F2FD;
    font-family: 'Press Start 2P', cursive;
}
#playbtn {
    -webkit-appearance: none
}

.btn-dark {
    height: 30px;
    width: 160px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: #BBDEFB;
    color: #F4511E;
}

.btn-dark:hover {
    background-color: #1565C0;
    color: #FFCCBC;
    border-color: #1565C0;
}