html,
body {
    background: url("../../assets/images/background.png") no-repeat center center fixed !important;
}

.userCard {
    margin-top: 45px;
    margin-left: 30px !important;
    background: #1848A0;
    position: relative;
    display: flex;
    
    justify-content: center !important;
    flex-direction: column;
    padding: 25px 30px 25px 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
a, .form-group {
    color: #E3F2FD;
    font-size: 20px;
    font-weight: bold;
    border-color: #E3F2FD !important;
}
a:hover{
    color: #1848A0 ;
    text-decoration: none
}