.userCard2 {
    height: 752px !important;
    width: 500px !important;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-right: -167px;
    background: #1848A0;
    display: flex;
    justify-content: flex-end !important;
    flex-direction: column;
    padding: 25px 30px 25px 30px !important;
    box-shadow: 0 4px 8px 0 #E3F2FD (0, 3, 3, 0.2), 0 6px 20px 0 #E3F2FD(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 #E3F2FD(0, 0, 0, 0.2), 0 6px 20px 0 #E3F2FD(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 #E3F2FD(0, 0, 0, 0.2), 0 6px 20px 0 #E3F2FD(0, 0, 0, 0.19);
    border-radius: 5px;

}

.alert-warning {
    margin: 590px -118px;
    color: #E3F2FD;
    height: 55px;
    padding-top: 16px;
    background-color: #F45113;
    border-color: #F45113;
    width: 238px;
    margin-top: center;
} 

strong {
    padding-top: 15px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -10px;
    padding: 3px 3px 3px 1px;
    text-align: center;
}

.brand_logo {
    height: 170px;
    width: 230px;
    margin-left: -36px;
}