

.footer {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    background-color: #1848A0;
    color: #E3F2FD;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    overflow: auto;
    margin-bottom: 100px;
  } 
.container{
    margin-top: 1rem;
    margin-bottom: 1rem
}
