input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    background: #ccc;
    height: 17px;
    width: 200px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btn {
    position: inherit;
    margin-bottom: 10px;
    /* width: 100px; */
    height: 37px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #1565C0;
    font-size: 20px;
    background: #BBDEFB;
    color: #F4511E;
}

input[type=text]:focus {
    border-color: black;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
legend{
    color: #BBDEFB;
}