html,
body {
    background: url("../images/background.png") no-repeat center center fixed !important;
}


.container {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 200px;
    color: rgb(6, 6, 139)
}

.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#gameButton {
    width: 500px;
    margin-left: 145px;
}

legend, #myClass {
    color: rgb(6, 6, 139)
}

.card-text {
    color: rgb(6, 6, 139)
}


